@use './settings';

.markdown p,
.markdown li {
  margin-bottom: calc(settings.$spacer * 4);
}
.markdown ol,
.markdown ul {
  margin-left: calc(settings.$spacer * 4);
}
.markdown li {
  margin-bottom: calc(settings.$spacer);
}

.section-border-bottom {
  border-bottom: 28px solid #{map-get(settings.$blue, 'base')};
}

.section-hero-img {
  @media #{map-get(settings.$display-breakpoints, 'md-and-up')} {
    max-height: 680px;
  }
}
