{"openapi":"3.0.1","info":{"title":"Dynamic API Specification","description":"This is a dynamically generated API specification for all endpoints existing on the current project.","version":"10.11.2"},"servers":[{"url":"https://directus.dendra.science/","description":"Your current Directus instance."}],"paths":{"/assets/{id}":{"get":{"tags":["Assets"],"operationId":"getAsset","summary":"Get an Asset","description":"Image typed files can be dynamically resized and transformed to fit any need.","parameters":[{"name":"id","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"The key of the asset size configured in settings.","schema":{"type":"string"}},{"name":"transforms","in":"query","description":"A JSON array of image transformations","schema":{"type":"string"}},{"name":"download","in":"query","description":"Download the asset to your computer","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful request","content":{"text/plain":{"schema":{"type":"string"}}}},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/auth/login":{"post":{"summary":"Retrieve a Temporary Access Token","description":"Retrieve a Temporary Access Token","tags":["Authentication"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","example":"admin@example.com","description":"Email address of the user you're retrieving the access token for."},"password":{"type":"string","description":"Password of the user.","format":"password","example":"password"},"mode":{"type":"string","enum":["json","cookie","session"],"default":"json","description":"Whether to retrieve the refresh token in the JSON response, or in a httpOnly cookie."},"otp":{"type":"string","description":"The user's one-time-password (if MFA is enabled)."}}}}}},"responses":{"200":{"description":"Successful authentification","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"access_token":{"type":"string","example":"eyJhbGciOiJI..."},"expires":{"type":"integer","example":900},"refresh_token":{"type":"string","example":"yuOJkjdPXMd..."}}}}}}}}}}},"/auth/refresh":{"post":{"summary":"Refresh Token","description":"Refresh a Temporary Access Token.","tags":["Authentication"],"operationId":"refresh","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"refresh_token":{"type":"string","example":"eyJ0eXAiOiJKV...","description":"JWT access token you want to refresh. This token can't be expired."},"mode":{"type":"string","enum":["json","cookie","session"],"default":"json","description":"Whether to submit and retrieve the refresh token in the JSON response, or in a httpOnly cookie."}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"access_token":{"type":"string","example":"eyJhbGciOiJI..."},"expires":{"type":"integer","example":900},"refresh_token":{"type":"string","example":"Gy-caJMpmGTA..."}}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/auth/logout":{"post":{"summary":"Log Out","description":"Log Out","tags":["Authentication"],"operationId":"logout","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"refresh_token":{"type":"string","example":"eyJ0eXAiOiJKV...","description":"The refresh token to invalidate. If you have the refresh token in a cookie through /auth/login, you don't have to submit it here."},"mode":{"type":"string","enum":["json","cookie","session"],"description":"Whether the refresh token is submitted in the JSON response, or in a httpOnly cookie."}}}}}},"responses":{"200":{"description":"Request successful"}}}},"/auth/password/request":{"post":{"tags":["Authentication"],"operationId":"passwordRequest","summary":"Request a Password Reset","description":"Request a reset password email to be send.","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","example":"admin@example.com","description":"Email address of the user you're requesting a reset for."}}}}}},"responses":{"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/auth/password/reset":{"post":{"tags":["Authentication"],"operationId":"passwordReset","summary":"Reset a Password","description":"The request a password reset endpoint sends an email with a link to the admin app which in turn uses this endpoint to allow the user to reset their password.","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["token","password"],"properties":{"token":{"type":"string","example":"eyJ0eXAiOiJKV1Qi...","description":"One-time use JWT token that is used to verify the user."},"password":{"type":"string","example":"password","format":"password","description":"New password for the user."}}}}}},"responses":{"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/auth/oauth":{"get":{"tags":["Authentication"],"operationId":"oauth","summary":"List OAuth Providers","description":"List configured OAuth providers.","responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"public":{"type":"boolean"},"data":{"type":"array","example":["github","facebook"],"items":{"type":"string"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/auth/oauth/{provider}":{"get":{"summary":"Authenticated using an OAuth provider","description":"Start OAuth flow using the specified provider","tags":["Authentication"],"operationId":"oauthProvider","parameters":[{"name":"provider","in":"path","description":"Key of the activated OAuth provider.","required":true,"schema":{"type":"string"}},{"name":"redirect","in":"query","required":false,"description":"Where to redirect on successful login.<br/>If set the authentication details are set inside cookies otherwise a JSON is returned.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"public":{"type":"boolean"},"data":{"type":"object","properties":{"token":{"type":"string"}}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/server/info":{"get":{"summary":"System Info","description":"Perform a system status check and return the options.","operationId":"serverInfo","parameters":[{"description":"The first time you create a project, the provided token will be saved and required for subsequent project installs. It can also be found and configured in `/config/__api.json` on your server.","in":"query","name":"super_admin_token","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"data":{"type":"object"}},"type":"object"}}},"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Server"]}},"/server/ping":{"get":{"summary":"Ping","description":"Ping, pong. Ping.. pong.","operationId":"ping","responses":{"200":{"content":{"application/text":{"schema":{"type":"string","pattern":"pong","example":"pong"}}},"description":"Successful request"}},"tags":["Server"]}},"/utils/hash/generate":{"post":{"summary":"Hash a string","description":"Generate a hash for a given string.","operationId":"hash-generate","requestBody":{"content":{"application/json":{"schema":{"properties":{"string":{"description":"String to hash.","type":"string"}},"required":["string"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"data":{"type":"string","example":"$argon2i$v=19$m=4096,t=3,p=1$pOyIa/zmRAjCVLb2f7kOyg$DasoO6LzMM+6iKfzCDq6JbsYsZWLSm33p7i9NxL9mDc"}},"type":"object"}}},"description":"Successful request"}},"tags":["Utilities"]}},"/utils/hash/verify":{"post":{"summary":"Hash a string","description":"Generate a hash for a given string.","operationId":"hash-verify","requestBody":{"content":{"application/json":{"schema":{"properties":{"string":{"description":"String to hash.","type":"string"},"hash":{"description":"Hash you want to verify against.","type":"string"}},"required":["string","hash"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"data":{"type":"boolean","example":true}},"type":"object"}}},"description":"Successful request"}},"tags":["Utilities"]}},"/utils/sort/{collection}":{"post":{"summary":"Sort Items","description":"Re-sort items in collection based on start and to value of item","operationId":"sort","parameters":[{"description":"Collection identifier","in":"path","name":"collection","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"item":{"description":"Primary key of item to move","type":"number"},"to":{"description":"Primary key of item where to move the current item to","type":"number"}}}}}},"responses":{"200":{"description":"Successful request"}},"tags":["Utilities"]}},"/utils/import/{collection}":{"post":{"summary":"Import Items","description":"Import multiple records from a JSON or CSV file into a collection.","operationId":"import","parameters":[{"description":"Collection identifier","in":"path","name":"collection","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Successful request"}},"tags":["Utilities"]}},"/utils/export/{collection}":{"post":{"summary":"Export Items","description":"Export a larger data set to a file in the File Library","operationId":"export","parameters":[{"description":"Collection identifier","in":"path","name":"collection","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"format":{"description":"What file format to save the export to. One of csv, xml, json","type":"string","enum":["csv","xml","json"]},"query":{"$ref":"#/components/schemas/Query"},"file":{"$ref":"#/components/schemas/Files"}},"required":["format","query","file"]}}}},"responses":{"200":{"description":"Successful request"}},"tags":["Utilities"]}},"/utils/cache/clear":{"post":{"summary":"Clear Cache","description":"Resets both the data and schema cache of Directus.","operationId":"clear-cache","responses":{"200":{"description":"Successful request"}},"tags":["Utilities"]}},"/utils/random/string":{"get":{"summary":"Get a Random String","description":"Returns a random string of given length.","operationId":"random","parameters":[{"description":"Length of the random string.","in":"query","name":"length","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"data":{"type":"string","example":"1>M3+4oh.S"}},"type":"object"}}},"description":"Successful request"}},"tags":["Utilities"]}},"/fields":{"get":{"summary":"List All Fields","description":"Returns a list of the fields available in the project.","operationId":"getFields","parameters":[{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Sort"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Fields"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Fields"]}},"/fields/{collection}":{"get":{"summary":"List Fields in Collection","description":"Returns a list of the fields available in the given collection.","operationId":"getCollectionFields","parameters":[{"description":"Unique identifier of the collection the item resides in.","in":"path","name":"collection","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/Sort"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Fields"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Fields"]}},"/fields/{collection}/{id}":{"get":{"summary":"Retrieve a Field","description":"Retrieves the details of a single field in a given collection.","operationId":"getCollectionField","responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Fields"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Fields"],"parameters":[{"name":"collection","in":"path","description":"Unique identifier of the collection the item resides in.","schema":{"type":"string"},"required":true},{"name":"id","in":"path","description":"Unique identifier of the field.","schema":{"type":"string"},"required":true}]}},"/collections":{"get":{"summary":"List Collections","description":"Returns a list of the collections available in the project.","operationId":"getCollections","parameters":[{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Collections"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Collections"]}},"/collections/{id}":{"get":{"summary":"Retrieve a Collection","description":"Retrieves the details of a single collection.","operationId":"getCollection","parameters":[{"name":"id","in":"path","required":true,"description":"Unique identifier of the collection.","schema":{"type":"string"}},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Collections"}}}}},"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Collections"]}},"/files":{"get":{"summary":"List Files","description":"List the files.","tags":["Files"],"operationId":"getFiles","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Files"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/files/{id}":{"get":{"summary":"Retrieve a Files","description":"Retrieve a single file by unique identifier.","tags":["Files"],"operationId":"getFile","parameters":[{"$ref":"#/components/parameters/UUId"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Files"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/relations":{"get":{"summary":"List Relations","description":"List the relations.","operationId":"getRelations","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"},{"$ref":"#/components/parameters/Page"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Relations"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Relations"]}},"/relations/{id}":{"get":{"summary":"Retrieve a Relation","description":"Retrieve a single relation by unique identifier.","operationId":"getRelation","parameters":[{"$ref":"#/components/parameters/Id"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Relations"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Relations"]}},"/items/ctas":{"get":{"summary":"List Items","description":"List the ctas items.","tags":["Items","ItemsCtas"],"operationId":"readItemsCtas","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsCtas"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/ctas/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single ctas item by unique identifier.","tags":["Items","ItemsCtas"],"operationId":"readSingleItemsCtas","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsCtas"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/meta_infos":{"get":{"summary":"List Items","description":"List the meta_infos items.","tags":["Items","ItemsMetaInfos"],"operationId":"readItemsMetaInfos","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsMetaInfos"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/meta_infos/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single meta_infos item by unique identifier.","tags":["Items","ItemsMetaInfos"],"operationId":"readSingleItemsMetaInfos","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsMetaInfos"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/section_hero_ctas":{"get":{"summary":"List Items","description":"List the section_hero_ctas items.","tags":["Items","ItemsSectionHeroCtas"],"operationId":"readItemsSectionHeroCtas","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsSectionHeroCtas"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/section_hero_ctas/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single section_hero_ctas item by unique identifier.","tags":["Items","ItemsSectionHeroCtas"],"operationId":"readSingleItemsSectionHeroCtas","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsSectionHeroCtas"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/section_hero":{"get":{"summary":"List Items","description":"List the section_hero items.","tags":["Items","ItemsSectionHero"],"operationId":"readItemsSectionHero","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsSectionHero"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/section_hero/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single section_hero item by unique identifier.","tags":["Items","ItemsSectionHero"],"operationId":"readSingleItemsSectionHero","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsSectionHero"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/image_transformations":{"get":{"summary":"List Items","description":"List the image_transformations items.","tags":["Items","ItemsImageTransformations"],"operationId":"readItemsImageTransformations","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsImageTransformations"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/image_transformations/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single image_transformations item by unique identifier.","tags":["Items","ItemsImageTransformations"],"operationId":"readSingleItemsImageTransformations","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsImageTransformations"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/static_pages_sections":{"get":{"summary":"List Items","description":"List the static_pages_sections items.","tags":["Items","ItemsStaticPagesSections"],"operationId":"readItemsStaticPagesSections","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsStaticPagesSections"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/static_pages_sections/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single static_pages_sections item by unique identifier.","tags":["Items","ItemsStaticPagesSections"],"operationId":"readSingleItemsStaticPagesSections","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsStaticPagesSections"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/section_differentiators":{"get":{"summary":"List Items","description":"List the section_differentiators items.","tags":["Items","ItemsSectionDifferentiators"],"operationId":"readItemsSectionDifferentiators","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsSectionDifferentiators"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/section_differentiators/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single section_differentiators item by unique identifier.","tags":["Items","ItemsSectionDifferentiators"],"operationId":"readSingleItemsSectionDifferentiators","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsSectionDifferentiators"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/differentiators":{"get":{"summary":"List Items","description":"List the differentiators items.","tags":["Items","ItemsDifferentiators"],"operationId":"readItemsDifferentiators","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsDifferentiators"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/differentiators/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single differentiators item by unique identifier.","tags":["Items","ItemsDifferentiators"],"operationId":"readSingleItemsDifferentiators","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsDifferentiators"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/static_pages":{"get":{"summary":"List Items","description":"List the static_pages items.","tags":["Items","ItemsStaticPages"],"operationId":"readItemsStaticPages","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsStaticPages"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/static_pages/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single static_pages item by unique identifier.","tags":["Items","ItemsStaticPages"],"operationId":"readSingleItemsStaticPages","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsStaticPages"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/section_capabilities":{"get":{"summary":"List Items","description":"List the section_capabilities items.","tags":["Items","ItemsSectionCapabilities"],"operationId":"readItemsSectionCapabilities","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsSectionCapabilities"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/section_capabilities/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single section_capabilities item by unique identifier.","tags":["Items","ItemsSectionCapabilities"],"operationId":"readSingleItemsSectionCapabilities","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsSectionCapabilities"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/section_capabilities_capabilities":{"get":{"summary":"List Items","description":"List the section_capabilities_capabilities items.","tags":["Items","ItemsSectionCapabilitiesCapabilities"],"operationId":"readItemsSectionCapabilitiesCapabilities","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsSectionCapabilitiesCapabilities"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/section_capabilities_capabilities/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single section_capabilities_capabilities item by unique identifier.","tags":["Items","ItemsSectionCapabilitiesCapabilities"],"operationId":"readSingleItemsSectionCapabilitiesCapabilities","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsSectionCapabilitiesCapabilities"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/capabilities":{"get":{"summary":"List Items","description":"List the capabilities items.","tags":["Items","ItemsCapabilities"],"operationId":"readItemsCapabilities","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsCapabilities"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/capabilities/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single capabilities item by unique identifier.","tags":["Items","ItemsCapabilities"],"operationId":"readSingleItemsCapabilities","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsCapabilities"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/section_differentiators_differentiators":{"get":{"summary":"List Items","description":"List the section_differentiators_differentiators items.","tags":["Items","ItemsSectionDifferentiatorsDifferentiators"],"operationId":"readItemsSectionDifferentiatorsDifferentiators","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsSectionDifferentiatorsDifferentiators"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/section_differentiators_differentiators/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single section_differentiators_differentiators item by unique identifier.","tags":["Items","ItemsSectionDifferentiatorsDifferentiators"],"operationId":"readSingleItemsSectionDifferentiatorsDifferentiators","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsSectionDifferentiatorsDifferentiators"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/case_studies":{"get":{"summary":"List Items","description":"List the case_studies items.","tags":["Items","ItemsCaseStudies"],"operationId":"readItemsCaseStudies","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsCaseStudies"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/case_studies/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single case_studies item by unique identifier.","tags":["Items","ItemsCaseStudies"],"operationId":"readSingleItemsCaseStudies","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsCaseStudies"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/tours":{"get":{"summary":"List Items","description":"List the tours items.","tags":["Items","ItemsTours"],"operationId":"readItemsTours","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsTours"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/tours/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single tours item by unique identifier.","tags":["Items","ItemsTours"],"operationId":"readSingleItemsTours","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsTours"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/section_case_studies_case_studies":{"get":{"summary":"List Items","description":"List the section_case_studies_case_studies items.","tags":["Items","ItemsSectionCaseStudiesCaseStudies"],"operationId":"readItemsSectionCaseStudiesCaseStudies","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsSectionCaseStudiesCaseStudies"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/section_case_studies_case_studies/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single section_case_studies_case_studies item by unique identifier.","tags":["Items","ItemsSectionCaseStudiesCaseStudies"],"operationId":"readSingleItemsSectionCaseStudiesCaseStudies","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsSectionCaseStudiesCaseStudies"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/section_tours":{"get":{"summary":"List Items","description":"List the section_tours items.","tags":["Items","ItemsSectionTours"],"operationId":"readItemsSectionTours","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsSectionTours"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/section_tours/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single section_tours item by unique identifier.","tags":["Items","ItemsSectionTours"],"operationId":"readSingleItemsSectionTours","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsSectionTours"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/section_case_studies":{"get":{"summary":"List Items","description":"List the section_case_studies items.","tags":["Items","ItemsSectionCaseStudies"],"operationId":"readItemsSectionCaseStudies","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsSectionCaseStudies"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/section_case_studies/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single section_case_studies item by unique identifier.","tags":["Items","ItemsSectionCaseStudies"],"operationId":"readSingleItemsSectionCaseStudies","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsSectionCaseStudies"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/section_tours_tours":{"get":{"summary":"List Items","description":"List the section_tours_tours items.","tags":["Items","ItemsSectionToursTours"],"operationId":"readItemsSectionToursTours","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsSectionToursTours"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/section_tours_tours/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single section_tours_tours item by unique identifier.","tags":["Items","ItemsSectionToursTours"],"operationId":"readSingleItemsSectionToursTours","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsSectionToursTours"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/tours_ctas":{"get":{"summary":"List Items","description":"List the tours_ctas items.","tags":["Items","ItemsToursCtas"],"operationId":"readItemsToursCtas","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsToursCtas"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/tours_ctas/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single tours_ctas item by unique identifier.","tags":["Items","ItemsToursCtas"],"operationId":"readSingleItemsToursCtas","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsToursCtas"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}}},"tags":[{"name":"Assets","description":"Image typed files can be dynamically resized and transformed to fit any need."},{"name":"Authentication","description":"All data within the platform is private by default. The public role can be configured to expose data without authentication, or you can pass an access token to the API to access private data."},{"name":"Server","description":"Access to where Directus runs. Allows you to make sure your server has everything needed to run the platform, and check what kind of latency we're dealing with."},{"name":"Utilities","description":"Directus comes with various utility endpoints you can use to simplify your development flow.","x-authentication":"user","x-schemas":["Files","Folders","Users","Roles"]},{"name":"Fields","description":"Fields are individual pieces of content within an item. They are mapped to columns in the database.","x-collection":"directus_fields"},{"name":"Collections","description":"Collections are the individual collections of items, similar to tables in a database. Changes to collections will alter the schema of the database.","x-collection":"directus_collections"},{"name":"Files","description":"Files can be saved in any given location. Directus has a powerful assets endpoint that can be used to generate thumbnails for images on the fly.","x-collection":"directus_files"},{"name":"Relations","description":"What data is linked to what other data. Allows you to assign authors to articles, products to sales, and whatever other structures you can think of.","x-collection":"directus_relations"},{"name":"ItemsCtas","x-collection":"ctas"},{"name":"ItemsMetaInfos","x-collection":"meta_infos"},{"name":"ItemsSectionHeroCtas","x-collection":"section_hero_ctas"},{"name":"ItemsSectionHero","x-collection":"section_hero"},{"name":"ItemsImageTransformations","x-collection":"image_transformations"},{"name":"ItemsStaticPagesSections","x-collection":"static_pages_sections"},{"name":"ItemsSectionDifferentiators","x-collection":"section_differentiators"},{"name":"ItemsDifferentiators","x-collection":"differentiators"},{"name":"ItemsStaticPages","x-collection":"static_pages"},{"name":"ItemsSectionCapabilities","x-collection":"section_capabilities"},{"name":"ItemsSectionCapabilitiesCapabilities","x-collection":"section_capabilities_capabilities"},{"name":"ItemsCapabilities","x-collection":"capabilities"},{"name":"ItemsSectionDifferentiatorsDifferentiators","x-collection":"section_differentiators_differentiators"},{"name":"ItemsCaseStudies","x-collection":"case_studies"},{"name":"ItemsTours","x-collection":"tours"},{"name":"ItemsSectionCaseStudiesCaseStudies","x-collection":"section_case_studies_case_studies"},{"name":"ItemsSectionTours","x-collection":"section_tours"},{"name":"ItemsSectionCaseStudies","x-collection":"section_case_studies"},{"name":"ItemsSectionToursTours","x-collection":"section_tours_tours"},{"name":"ItemsToursCtas","x-collection":"tours_ctas"}],"components":{"schemas":{"Files":{"type":"object","properties":{"id":{"description":"Unique identifier for the file.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02","type":"string"},"storage":{"description":"Where the file is stored. Either `local` for the local filesystem or the name of the storage adapter (for example `s3`).","example":"local","type":"string"},"filename_disk":{"description":"Name of the file on disk. By default, Directus uses a random hash for the filename.","example":"a88c3b72-ac58-5436-a4ec-b2858531333a.jpg","type":"string"},"filename_download":{"description":"How you want to the file to be named when it's being downloaded.","example":"avatar.jpg","type":"string"},"title":{"description":"Title for the file. Is extracted from the filename on upload, but can be edited by the user.","example":"User Avatar","type":"string"},"type":{"description":"MIME type of the file.","example":"image/jpeg","type":"string"},"folder":{"description":"Virtual folder where this file resides in.","example":null,"oneOf":[{"type":"string"},{"$ref":"#/components/schemas/Folders"}],"nullable":true},"uploaded_by":{"description":"Who uploaded the file.","example":"63716273-0f29-4648-8a2a-2af2948f6f78","oneOf":[{"type":"string"},{"$ref":"#/components/schemas/Users"}]},"uploaded_on":{"description":"When the file was uploaded.","example":"2019-12-03T00:10:15+00:00","type":"string","format":"date-time"},"modified_by":{"nullable":true,"type":"string","format":"uuid"},"modified_on":{"nullable":false,"type":"string","format":"timestamp"},"charset":{"description":"Character set of the file.","example":"binary","type":"string","nullable":true},"filesize":{"description":"Size of the file in bytes.","example":137862,"type":"integer"},"width":{"description":"Width of the file in pixels. Only applies to images.","example":800,"type":"integer","nullable":true},"height":{"description":"Height of the file in pixels. Only applies to images.","example":838,"type":"integer","nullable":true},"duration":{"description":"Duration of the file in seconds. Only applies to audio and video.","example":0,"type":"integer","nullable":true},"embed":{"description":"Where the file was embedded from.","example":null,"type":"string","nullable":true},"description":{"description":"Description for the file.","type":"string","nullable":true},"location":{"description":"Where the file was created. Is automatically populated based on Exif data for images.","type":"string","nullable":true},"tags":{"description":"Tags for the file. Is automatically populated based on Exif data for images.","type":"array","nullable":true,"items":{"type":"string"}},"metadata":{"description":"IPTC, Exif, and ICC metadata extracted from file","type":"object","nullable":true},"focal_point_x":{"nullable":true,"type":"integer"},"focal_point_y":{"nullable":true,"type":"integer"}},"x-collection":"directus_files"},"Folders":{"type":"object","properties":{"id":{"description":"Unique identifier for the folder.","example":"0cf0e03d-4364-45df-b77b-ca61f61869d2","type":"string"},"name":{"description":"Name of the folder.","example":"New York","type":"string"},"parent":{"description":"Unique identifier of the parent folder. This allows for nested folders.","example":null,"oneOf":[{"type":"string"},{"$ref":"#/components/schemas/Folders"}],"nullable":true}},"x-collection":"directus_folders"},"Roles":{"type":"object","properties":{"id":{"description":"Unique identifier for the role.","example":"2f24211d-d928-469a-aea3-3c8f53d4e426","type":"string"},"name":{"description":"Name of the role.","example":"Administrator","type":"string"},"icon":{"description":"The role's icon.","example":"verified_user","type":"string"},"description":{"description":"Description of the role.","example":"Admins have access to all managed data within the system by default","type":"string","nullable":true},"ip_access":{"description":"Array of IP addresses that are allowed to connect to the API as a user of this role.","example":[],"type":"array","items":{"type":"string"}},"enforce_tfa":{"description":"Whether or not this role enforces the use of 2FA.","example":false,"type":"boolean"},"admin_access":{"description":"Admin role. If true, skips all permission checks.","example":false,"type":"boolean"},"app_access":{"description":"The users in the role are allowed to use the app.","example":true,"type":"boolean"}},"x-collection":"directus_roles"},"Users":{"type":"object","properties":{"id":{"description":"Unique identifier for the user.","example":"63716273-0f29-4648-8a2a-2af2948f6f78","type":"string"},"first_name":{"description":"First name of the user.","example":"Admin","type":"string"},"last_name":{"description":"Last name of the user.","example":"User","type":"string"},"email":{"description":"Unique email address for the user.","example":"admin@example.com","type":"string","format":"email"},"password":{"description":"Password of the user.","type":"string"},"location":{"description":"The user's location.","example":null,"type":"string","nullable":true},"title":{"description":"The user's title.","example":null,"type":"string","nullable":true},"description":{"description":"The user's description.","example":null,"type":"string","nullable":true},"tags":{"description":"The user's tags.","example":null,"type":"array","nullable":true,"items":{"type":"string"}},"avatar":{"description":"The user's avatar.","example":null,"oneOf":[{"type":"string"},{"$ref":"#/components/schemas/Files"}],"nullable":true},"language":{"description":"The user's language used in Directus.","example":"en-US","type":"string"},"theme":{"description":"What theme the user is using.","example":"auto","type":"string","enum":["light","dark","auto"]},"tfa_secret":{"description":"The 2FA secret string that's used to generate one time passwords.","example":null,"type":"string","nullable":true},"status":{"description":"Status of the user.","example":"active","type":"string","enum":["active","invited","draft","suspended","deleted"]},"role":{"description":"Unique identifier of the role of this user.","example":"2f24211d-d928-469a-aea3-3c8f53d4e426","oneOf":[{"type":"string"},{"$ref":"#/components/schemas/Roles"}]},"token":{"description":"Static token for the user.","type":"string","nullable":true},"last_access":{"description":"When this user used the API last.","example":"2020-05-31T14:32:37Z","type":"string","nullable":true,"format":"date-time"},"last_page":{"description":"Last page that the user was on.","example":"/my-project/settings/collections/a","type":"string","nullable":true}},"x-collection":"directus_users"},"Query":{"type":"object","properties":{"fields":{"type":"array","items":{"type":"string"},"description":"Control what fields are being returned in the object.","example":["*","*.*"]},"filter":{"type":"object","example":{"<field>":{"<operator>":"<value>"}}},"search":{"description":"Filter by items that contain the given search query in one of their fields.","type":"string"},"sort":{"type":"array","items":{"type":"string"},"description":"How to sort the returned items.","example":["-date_created"]},"limit":{"type":"number","description":"Set the maximum number of items that will be returned"},"offset":{"type":"number","description":"How many items to skip when fetching data."},"page":{"type":"number","description":"Cursor for use in pagination. Often used in combination with limit."},"deep":{"type":"object","description":"Deep allows you to set any of the other query parameters on a nested relational dataset.","example":{"related_articles":{"_limit":3}}}}},"x-metadata":{"type":"object","properties":{"total_count":{"description":"Returns the total item count of the collection you're querying.","type":"integer"},"filter_count":{"description":"Returns the item count of the collection you're querying, taking the current filter/search parameters into account.","type":"integer"}}},"Fields":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"collection":{"description":"Unique name of the collection this field is in.","example":"about_us","type":"string"},"field":{"description":"Unique name of the field. Field name is unique within the collection.","example":"id","type":"string"},"special":{"nullable":true,"type":"array","items":{"type":"string"}},"interface":{"nullable":true,"type":"string"},"options":{"nullable":true},"display":{"nullable":true,"type":"string"},"display_options":{"nullable":true},"readonly":{"nullable":false,"type":"boolean"},"hidden":{"nullable":false,"type":"boolean"},"sort":{"nullable":true,"type":"integer"},"width":{"nullable":true,"type":"string"},"translations":{"nullable":true},"note":{"nullable":true,"type":"string"},"conditions":{"nullable":true},"required":{"nullable":true,"type":"boolean"},"group":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/Fields"}]},"validation":{"nullable":true},"validation_message":{"nullable":true,"type":"string"}},"x-collection":"directus_fields"},"Collections":{"type":"object","properties":{"collection":{"description":"The collection key.","example":"customers","type":"string"},"icon":{"nullable":true,"type":"string"},"note":{"nullable":true,"type":"string"},"display_template":{"nullable":true,"type":"string"},"hidden":{"nullable":false,"type":"boolean"},"singleton":{"nullable":false,"type":"boolean"},"translations":{"nullable":true},"archive_field":{"nullable":true,"type":"string"},"archive_app_filter":{"nullable":false,"type":"boolean"},"archive_value":{"nullable":true,"type":"string"},"unarchive_value":{"nullable":true,"type":"string"},"sort_field":{"nullable":true,"type":"string"},"accountability":{"nullable":true,"type":"string"},"color":{"nullable":true,"type":"string"},"item_duplication_fields":{"nullable":true},"sort":{"nullable":true,"type":"integer"},"group":{"nullable":true,"oneOf":[{"type":"string"},{"$ref":"#/components/schemas/Collections"}]},"collapse":{"nullable":false,"type":"string"},"preview_url":{"nullable":true,"type":"string"},"versioning":{"nullable":false,"type":"boolean"}},"x-collection":"directus_collections"},"Relations":{"type":"object","properties":{"id":{"description":"Unique identifier for the relation.","example":1,"type":"integer"},"many_collection":{"description":"Collection that has the field that holds the foreign key.","example":"directus_activity","type":"string"},"many_field":{"description":"Foreign key. Field that holds the primary key of the related collection.","example":"user","type":"string"},"one_collection":{"description":"Collection on the _one_ side of the relationship.","example":"directus_users","type":"string"},"one_field":{"description":"Alias column that serves as the _one_ side of the relationship.","example":null,"type":"string","nullable":true},"one_collection_field":{"nullable":true,"type":"string"},"one_allowed_collections":{"nullable":true,"type":"array","items":{"type":"string"}},"junction_field":{"description":"Field on the junction table that holds the many field of the related relation.","example":null,"type":"string","nullable":true},"sort_field":{"nullable":true,"type":"string"},"one_deselect_action":{"nullable":false,"type":"string"}},"x-collection":"directus_relations"},"ItemsCtas":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"status":{"nullable":false,"type":"string"},"user_created":{"nullable":true,"type":"string","format":"uuid"},"date_created":{"nullable":true,"type":"string","format":"timestamp"},"user_updated":{"nullable":true,"type":"string","format":"uuid"},"date_updated":{"nullable":true,"type":"string","format":"timestamp"},"action":{"nullable":true,"type":"string"},"href":{"nullable":true,"type":"string"},"title":{"nullable":true,"type":"string"}},"x-collection":"ctas"},"ItemsMetaInfos":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"user_created":{"nullable":true,"type":"string","format":"uuid"},"date_created":{"nullable":true,"type":"string","format":"timestamp"},"user_updated":{"nullable":true,"type":"string","format":"uuid"},"date_updated":{"nullable":true,"type":"string","format":"timestamp"},"title":{"nullable":true,"type":"string"},"description":{"nullable":true,"type":"string"},"og_title":{"nullable":true,"type":"string"},"og_description":{"nullable":true,"type":"string"},"og_image":{"nullable":true,"oneOf":[{"type":"string","format":"uuid"},{"$ref":"#/components/schemas/Files"}]}},"x-collection":"meta_infos"},"ItemsSectionHeroCtas":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"section_hero_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsSectionHero"}]},"ctas_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsCtas"}]}},"x-collection":"section_hero_ctas"},"ItemsSectionHero":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"status":{"nullable":false,"type":"string"},"user_created":{"nullable":true,"type":"string","format":"uuid"},"date_created":{"nullable":true,"type":"string","format":"timestamp"},"user_updated":{"nullable":true,"type":"string","format":"uuid"},"date_updated":{"nullable":true,"type":"string","format":"timestamp"},"title":{"nullable":true,"type":"string"},"paragraph":{"nullable":true,"type":"string"},"background_image":{"nullable":true,"oneOf":[{"type":"string","format":"uuid"},{"$ref":"#/components/schemas/Files"}]},"background_transformation":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsImageTransformations"}]},"ctas":{"nullable":true,"type":"array","items":{"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsSectionHeroCtas"}]}}},"x-collection":"section_hero"},"ItemsImageTransformations":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"user_created":{"nullable":true,"type":"string","format":"uuid"},"date_created":{"nullable":true,"type":"string","format":"timestamp"},"user_updated":{"nullable":true,"type":"string","format":"uuid"},"date_updated":{"nullable":true,"type":"string","format":"timestamp"},"name":{"nullable":false,"type":"string"},"cloudinary_parameters":{"nullable":true,"type":"string"}},"x-collection":"image_transformations"},"ItemsStaticPagesSections":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"static_pages_id":{"nullable":true,"oneOf":[{"type":"string","format":"uuid"},{"$ref":"#/components/schemas/ItemsStaticPages"}]},"item":{"nullable":true,"type":"array","items":{"oneOf":[{"type":"string"},{"$ref":"#/components/schemas/ItemsSectionHero"},{"$ref":"#/components/schemas/ItemsSectionDifferentiators"},{"$ref":"#/components/schemas/ItemsSectionCapabilities"},{"$ref":"#/components/schemas/ItemsSectionTours"},{"$ref":"#/components/schemas/ItemsSectionCaseStudies"}]}},"collection":{"nullable":true,"type":"string"},"sort":{"nullable":true,"type":"integer"}},"x-collection":"static_pages_sections"},"ItemsSectionDifferentiators":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"status":{"nullable":false,"type":"string"},"user_created":{"nullable":true,"type":"string","format":"uuid"},"date_created":{"nullable":true,"type":"string","format":"timestamp"},"user_updated":{"nullable":true,"type":"string","format":"uuid"},"date_updated":{"nullable":true,"type":"string","format":"timestamp"},"title":{"nullable":true,"type":"string"},"paragraph":{"nullable":true,"type":"string"},"differentiators":{"nullable":true,"type":"array","items":{"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsSectionDifferentiatorsDifferentiators"}]}}},"x-collection":"section_differentiators"},"ItemsDifferentiators":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"status":{"nullable":false,"type":"string"},"user_created":{"nullable":true,"type":"string","format":"uuid"},"date_created":{"nullable":true,"type":"string","format":"timestamp"},"user_updated":{"nullable":true,"type":"string","format":"uuid"},"date_updated":{"nullable":true,"type":"string","format":"timestamp"},"title":{"nullable":true,"type":"string"},"description":{"nullable":true,"type":"string"},"icon":{"nullable":true,"type":"string"}},"x-collection":"differentiators"},"ItemsStaticPages":{"type":"object","properties":{"id":{"nullable":false,"type":"string","format":"uuid"},"status":{"nullable":false,"type":"string"},"user_created":{"nullable":true,"type":"string","format":"uuid"},"date_created":{"nullable":true,"type":"string","format":"timestamp"},"user_updated":{"nullable":true,"type":"string","format":"uuid"},"date_updated":{"nullable":true,"type":"string","format":"timestamp"},"meta_info":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsMetaInfos"}]},"name":{"nullable":true,"type":"string"},"sections":{"nullable":true,"type":"array","items":{"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsStaticPagesSections"}]}}},"x-collection":"static_pages"},"ItemsSectionCapabilities":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"status":{"nullable":false,"type":"string"},"user_created":{"nullable":true,"type":"string","format":"uuid"},"date_created":{"nullable":true,"type":"string","format":"timestamp"},"user_updated":{"nullable":true,"type":"string","format":"uuid"},"date_updated":{"nullable":true,"type":"string","format":"timestamp"},"title":{"nullable":true,"type":"string"},"paragraph":{"nullable":true,"type":"string"},"capabilities":{"nullable":true,"type":"array","items":{"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsSectionCapabilitiesCapabilities"}]}}},"x-collection":"section_capabilities"},"ItemsSectionCapabilitiesCapabilities":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"section_capabilities_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsSectionCapabilities"}]},"capabilities_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsCapabilities"}]},"sort":{"nullable":true,"type":"integer"}},"x-collection":"section_capabilities_capabilities"},"ItemsCapabilities":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"status":{"nullable":false,"type":"string"},"user_created":{"nullable":true,"type":"string","format":"uuid"},"date_created":{"nullable":true,"type":"string","format":"timestamp"},"user_updated":{"nullable":true,"type":"string","format":"uuid"},"date_updated":{"nullable":true,"type":"string","format":"timestamp"},"title":{"nullable":true,"type":"string"},"description":{"nullable":true,"type":"string"},"icon":{"nullable":true,"type":"string"},"image":{"nullable":true,"oneOf":[{"type":"string","format":"uuid"},{"$ref":"#/components/schemas/Files"}]},"transformation":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsImageTransformations"}]}},"x-collection":"capabilities"},"ItemsSectionDifferentiatorsDifferentiators":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"section_differentiators_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsSectionDifferentiators"}]},"differentiators_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsDifferentiators"}]},"sort":{"nullable":true,"type":"integer"}},"x-collection":"section_differentiators_differentiators"},"ItemsCaseStudies":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"status":{"nullable":false,"type":"string"},"user_created":{"nullable":true,"type":"string","format":"uuid"},"date_created":{"nullable":true,"type":"string","format":"timestamp"},"user_updated":{"nullable":true,"type":"string","format":"uuid"},"date_updated":{"nullable":true,"type":"string","format":"timestamp"},"title":{"nullable":true,"type":"string"},"summary":{"nullable":true,"type":"string"},"body":{"nullable":true,"type":"string"},"cover_image":{"nullable":true,"oneOf":[{"type":"string","format":"uuid"},{"$ref":"#/components/schemas/Files"}]},"cover_transformation":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsImageTransformations"}]}},"x-collection":"case_studies"},"ItemsTours":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"status":{"nullable":false,"type":"string"},"user_created":{"nullable":true,"type":"string","format":"uuid"},"date_created":{"nullable":true,"type":"string","format":"timestamp"},"user_updated":{"nullable":true,"type":"string","format":"uuid"},"date_updated":{"nullable":true,"type":"string","format":"timestamp"},"title":{"nullable":true,"type":"string"},"description":{"nullable":true,"type":"string"},"ctas":{"nullable":true,"type":"array","items":{"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsToursCtas"}]}}},"x-collection":"tours"},"ItemsSectionCaseStudiesCaseStudies":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"section_case_studies_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsSectionCaseStudies"}]},"case_studies_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsCaseStudies"}]},"sort":{"nullable":true,"type":"integer"}},"x-collection":"section_case_studies_case_studies"},"ItemsSectionTours":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"status":{"nullable":false,"type":"string"},"user_created":{"nullable":true,"type":"string","format":"uuid"},"date_created":{"nullable":true,"type":"string","format":"timestamp"},"user_updated":{"nullable":true,"type":"string","format":"uuid"},"date_updated":{"nullable":true,"type":"string","format":"timestamp"},"title":{"nullable":true,"type":"string"},"paragraph":{"nullable":true,"type":"string"},"tours":{"nullable":true,"type":"array","items":{"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsSectionToursTours"}]}}},"x-collection":"section_tours"},"ItemsSectionCaseStudies":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"status":{"nullable":false,"type":"string"},"user_created":{"nullable":true,"type":"string","format":"uuid"},"date_created":{"nullable":true,"type":"string","format":"timestamp"},"user_updated":{"nullable":true,"type":"string","format":"uuid"},"date_updated":{"nullable":true,"type":"string","format":"timestamp"},"title":{"nullable":true,"type":"string"},"paragraph":{"nullable":true,"type":"string"},"case_studies":{"nullable":true,"type":"array","items":{"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsSectionCaseStudiesCaseStudies"}]}}},"x-collection":"section_case_studies"},"ItemsSectionToursTours":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"section_tours_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsSectionTours"}]},"tours_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsTours"}]},"sort":{"nullable":true,"type":"integer"}},"x-collection":"section_tours_tours"},"ItemsToursCtas":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"tours_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsTours"}]},"ctas_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsCtas"}]},"sort":{"nullable":true,"type":"integer"}},"x-collection":"tours_ctas"}},"parameters":{"Id":{"description":"Index","name":"id","in":"path","required":true,"schema":{"type":"integer"}},"UUId":{"description":"Unique identifier for the object.","name":"id","in":"path","required":true,"schema":{"example":"8cbb43fe-4cdf-4991-8352-c461779cec02","type":"string"}},"Collection":{"description":"Collection of which you want to retrieve the items from.","name":"collection","in":"path","required":true,"schema":{"type":"string"}},"Search":{"description":"Filter by items that contain the given search query in one of their fields.","in":"query","name":"search","required":false,"schema":{"type":"string"}},"Page":{"description":"Cursor for use in pagination. Often used in combination with limit.","in":"query","name":"page","required":false,"schema":{"type":"integer"}},"Offset":{"description":"How many items to skip when fetching data.","in":"query","name":"offset","required":false,"schema":{"type":"integer"}},"Sort":{"description":"How to sort the returned items. `sort` is a CSV of fields used to sort the fetched items. Sorting defaults to ascending (ASC) order but a minus sign (` - `) can be used to reverse this to descending (DESC) order. Fields are prioritized by their order in the CSV. You can also use a ` ? ` to sort randomly.\n","in":"query","name":"sort","required":false,"explode":false,"schema":{"type":"array","items":{"type":"string"}}},"Meta":{"description":"What metadata to return in the response.","in":"query","name":"meta","required":false,"schema":{"type":"string"}},"Limit":{"description":"A limit on the number of objects that are returned.","in":"query","name":"limit","required":false,"schema":{"type":"integer"}},"Filter":{"description":"Select items in collection by given conditions.","in":"query","name":"filter","required":false,"content":{"application/json":{"schema":{"type":"object","example":{"<field>":{"<operator>":"<value>"}}}}}},"Fields":{"description":"Control what fields are being returned in the object.","in":"query","name":"fields","required":false,"explode":false,"schema":{"type":"array","items":{"type":"string"}}},"Export":{"name":"export","description":"Saves the API response to a file. Accepts one of \"csv\", \"json\", \"xml\", \"yaml\".","in":"query","required":false,"schema":{"type":"string","enum":["csv","json","xml","yaml"]}},"Version":{"name":"version","description":"Retrieve an item's state from a specific Content Version. The value corresponds to the \"key\" of the Content Version.\n","in":"query","required":false,"schema":{"type":"string"}}},"responses":{"NotFoundError":{"description":"Error: Not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"integer","format":"int64"},"message":{"type":"string"}}}}}}}},"UnauthorizedError":{"description":"Error: Unauthorized request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"integer","format":"int64"},"message":{"type":"string"}}}}}}}}},"securitySchemes":{"KeyAuth":{"type":"apiKey","in":"query","name":"access_token"},"Auth":{"type":"apiKey","in":"header","name":"Authorization"}}}}